gradio[oauth]
requests
pandas
python-dotenv
langchain
langchain-openai
langchain-community
langchain-experimental
langgraph
langgraph-supervisor
langchain-tavily
wikipedia
openpyxl
openai
Pillow
PyPDF2
google-genai
